*.zip
*.log
*.lyx~
*.aux
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.lo[gil]
*.nl[os]
*.out
*.synctex*
*.tdo
*.toc
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
/guide/*.html
/guide/images/*.png
/guide/images/*/*.png
/guide/*.pdf
/tex/*.tex
!/tex/user-guide-A4booklet.tex
!/tex/user-guide-USbooklet.tex
